body {
    padding: 0px;
    margin: 0px;
    background-color: #00a8ff;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    background-color: white;
}

.search-box .search-txt {
    float: left;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    line-height: 40px;
    width: 240px;
}

.search-box .search-btn {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}